header {
    height: 120px;
    background-color: navy;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

header img {
    width: 80px;
}

ul {
    margin: 0;
    padding: 0;
    text-align: center;
    z-index: 10;
}

li {
    color: #ffffff;
    display: inline-block;
    margin: 0 0 0 20px;
    cursor: pointer;
    font-size: 22px;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    transition: 0.3s;
}

li:hover, li.active {
    color: #FFD600;
    transform: scale(1.1);
}